{% extends "navbar_logged_in.html" %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm p-4" style="{{current_user.background}}">
            <h1>{{ current_user.name }}</h1>

            <ul>
                <li>Created {{ current_user.num_projects_created() }} projects</li>
                <li>Uploaded X files to  X projects</li>
            </ul>

        </div>
        <div class="col">
        <h5>
            Add a Project
        </h5>
          <form method="POST" action="/my-projects/add">
            {{ form.csrf_token }}
  
            <div class="form-group">
              <label for="name">{{ form.name.label }}</label>
              <input type="text" class="form-control" id="name" name="name" >
                {% if form.name.errors %}
                  <ul class="errors">
                    {% for error in form.name.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
            </div>
            <div class="form-group">
              <label for="description">{{ form.description.label }}</label>
              <input type="text" class="form-control" id="description" name="description" >
                {% if form.description.errors %}
                  <ul class="errors">
                    {% for error in form.description.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
            </div>
            <center>
              <button type="submit" name="submit" value="login" class="btn btn-primary">Add Project</button>
            </center>
          </form>
        </div>
    </div>

<!-- Flashed messages -->
<div class="row mt-4">
  <div class="col">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class=flashes>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
  </div>
</div>



<div class="row ">
  <div class="col mt-4">
    {% if not your_projects %}
    <h5>Welcome to the TMC Summarizer!</h5>

    <p>Create a new project using the form above.</p>

    <p>Check out projects created by others below. You can upload data to and analyze these projects as well.</p>

    {% else %}
    <h5>Projects created by {{current_user.name}}</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 40%;">Name</th>
            <th scope="col">files</th>
            <th scope="col">Created By</th>
            <th scope="col" style="width: 40%;">Data Uploaded By</th>
          </tr>
        </thead>
        <tbody>
          {% for project in your_projects %}

          <tr>
            <td>
              <a href="/project/{{project.uid}}">{{ project.name }}</a>
              </td>
            <td>{{ project.num_files() }}</td>
            <td>
              <button type="button" class="btn border-dark btn-light btn-sm " style="{{ project.created_by_user().background }}">{{ project.created_by_user().name }}</button>
            </td>
            <td>

              {% for user in project.file_uploaders() %}
              <button type="button" class="btn border-dark btn-light btn-sm" style="{{ user.background }}">{{ user.name }}</button>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endif %}

  </div>
</div>


<div class="row ">
  <div class="col mt-4">
    <h5>Projects created by others</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 40%;">Name</th>
          <th scope="col">files</th>
          <th scope="col">Created By</th>
          <th scope="col" style="width: 40%;">Data Uploaded By</th>
        </tr>
      </thead>
      <tbody>
        {% for project in other_projects %}
        <tr>
          <td>
            <a href="/project/{{project.uid}}">{{ project.name }}</a>
            </td>
          <td>{{ project.num_files() }}</td>
          <td>
            <button type="button" class="btn border-dark btn-light btn-sm" style="{{ project.created_by_user().background }}">{{ project.created_by_user().name }}</button>
          </td>
          <td>
            {% for user in project.file_uploaders() %}
            <button type="button" class="btn border-dark btn-light btn-sm" style="{{ user.background }}">{{ user.name }}</button>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


  </div>
</div>



</div>

{% endblock %}