<!DOCTYPE html>
<html>
<head>
    <title>Full Screen Leaflet Map</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>


    <style>
        #map {
            height: 70vh;
            width: 100%;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand" >TMC Summarizer</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/rainbows">&#x1F308</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data-explorer">Data Explorer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">All Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for project in current_user.projects_created() %}
              <a class="dropdown-item" href="/project/{{project.uid}}">{{project.name}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/project/{{project.uid}}">{{project.name}}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/project/{{project.uid}}">Metadata<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">

    <div class="row p-4">
      <div class="col-12">
        <h1>
          {{ this_file.filename }}
        </h1>

      </div>

    </div>


    <div class="row p-4">
      <div clas="col-12 p-5">
        <h3>
          Edit metadata
        </h3>

        <form method="post" action="{{request.path}}/update" >
  
          {{form.csrf_token }}
          <table>
            <tbody>
              <tr>
                <td>
                  Title
                </td>
                <td>
                  <textarea class="form-control" id="title" name="title" rows="2">{{this_file.title}}</textarea>
                </td>
              </tr>
              <tr>
                <td>
                  Model ID
                </td>
                <td>
                  <input class="form-control" type="text" value="{{this_file.model_id}}" name="model_id">
                </td>
              </tr>
              <tr>
                <td>
                  Lat
                </td>
                <td>
                  <textarea class="form-control" id="lat" name="lat">{{this_file.lat}}</textarea>
                </td>
              </tr>
              <tr>
                <td>
                  Long
                </td>
                <td>
                  <textarea class="form-control" id="lng" name="lng">{{this_file.lng}}</textarea>
                </td>
              </tr>
              <tr>
                <td>
                  Legs
                </td>
                <td>
                  <textarea class="form-control" id="legs" name="legs" rows="8">{{this_file.legs}}</textarea>
                </td>
              </tr>
  
            </tbody>
          </table>
          <div class="text-right">
            <button type="submit" class="btn btn-primary mt-2">Update</button>
          </div>
        </form>


      </div>
      <div class="col-6">
        <div id="map"></div>
        <script>

          var latlng = {{latlng | safe}}

          var mymap = L.map('map').setView(latlng, 14);

          L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoiYWFyb25kdnJwYyIsImEiOiJja2NvN2s5dnAwaWR2MnptbzFwYmd2czVvIn0.Fcc34gzGME_zHR5q4RnSOg'
                    }).addTo(mymap);

          marker = new L.marker(latlng)
            .addTo(mymap);


          var popup = L.popup();

          function onMapClick(e) {
              popup
                  .setLatLng(e.latlng)
                  .setContent("New TMC Location")
                  .openOn(mymap);
                  $('#lat').val(e.latlng.lat);
                  $('#lng').val(e.latlng.lng);
          }

          mymap.on('click', onMapClick);

        </script>
      </div>

    </div>


  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>